
@{
    ViewBag.Title = "DashBoard";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Wel come to the Dash Board of the Admin </h1>
            <h1 class="btn btn-danger"> @Html.ActionLink("All Product ", "viewProduct", "ProductItem") </h1>
            <h1 class="btn btn-danger"> @Html.ActionLink("All Order ", "viewOrder", "Order") </h1>
            <h1 class="btn btn-danger"> @Html.ActionLink("All Query ", "viewQuery", "Home") </h1>
        </div>


    </div>
</div>


