@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row m-0 resturant_welcome_row">
    <div class="col-sm-12 col-md-6 resturant_welcome_content">
        <h1>Welcome To <span>Live Dinner Resturant</span></h1>
        <h4>Little Story</h4>
        <p>
            Our restaurant is best known by our name and our work
        </p>
        <p>
            Our team is having experience of many years and that is the resaon we are having rush of customers every time.
        </p>
    </div>

    

</div>